@import url("https://fonts.googleapis.com/css?family=Gothic+A1:100");

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

nav {
  display: flex;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  padding-top: 20px;
}

.button-container {
  height: 44px;
  width: 133px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.5px;
  padding: 0;
  background-color: rgba(33, 33, 33, 0.9);
  border: none;
  color: #fff;
  font-size: 30px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
  transition: all 0.5s ease;
}

input[type=button]:hover {
  background-color: rgba(33, 33, 33, 0.6);
  font-size: 28px;
}

#shuffle {
  padding-top: 2px;
  font-size: 28px;
}
