@import url('https://fonts.googleapis.com/css?family=Open+Sans:300"');

#textbox {
  border-radius: 25px;
  border: none;
  padding: 12px;
  width: 250px;
  height: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
}

input:focus {
    outline:none;
}
